* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: lightgray;
}
img {
  width: 40px;
  height: 40px;
}
.text {
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
}
.text-div {
  border-bottom: dashed;
}

.container {
  background-color: darkslategrey;
  margin-top: -30px;
  margin-left: 350px;
  margin-right: 350px;
  height: 350px;
}
.dropdown {
  width: 400px;
  user-select: none;
  margin: 100px auto;
  position: relative;
}
.dropdown .dropdown-btn {
  padding: 15px 20px;
  background: #fff;
  font-weight: bold;
  color: darkslategrey;
  font-size: 25px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  /* left: 0; */
  padding: 10px;
  background: #fff;
  width: 95%;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 25px;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: #336d62;
  color: white;
}
